.container{

    color: white;
    background-color: black;
    background-size: cover;
    background-position: center;
     width: 100%;
  height: 80vh; /* Adjust height as needed */
  position: unset;
  top: 0;
  left: 0;
  animation: moveBackground 10s linear infinite; /* Adjust animation duration as needed */
}

@keyframes moveBackground {
  0% { background-color: black; }
  30% { background-color: green ; }
  50%  {background-color: gold;  }
  70% {background-color: purple;}
  90% {background-color: red;}
  110%{background-color: pink;}

  
}
.sarz{
	padding: 30px;
	color: white;
}
#more{
	display: none;
}
.samd{
	text-align: center;
	color: white;
	font-family: 'Dancing Script', cursive;
}
.SAMM{
	font-family:'Dancing Script',cursive;
	padding: 30px;
}
.samm{
	padding: 30px;
}
.sammy{
	text-align: center;
}
.sssm{
	font-family: 'Dancing Script', cursive;
    color: yellow;
}
#none{
	display: none;
}
.blink{
 color: black;

}

.aboutus{
   
   background-color:rgba(151, 107, 107, 0.726);   
	width: 100%;
	height:150vh;	
}
.column{
	float: left;
	width: 35%;
	padding: 10px;
	margin:15PX;
	border: 1px solid lightpink;

}
.row{
	padding: 5px;
	color: black;
}
.ssm{
	font-family: 'Dancing Script', cursive;
	text-align: center;
}

#images{
    width: 360px;
    height: 360px;
    padding: 41px;
    padding-top: 25px;
}
.sazy{
	font-family: 'Dancing Script', cursive;

}
.stus{
	font-size: 20px;
}
.sammd{
	text-align: center;
	font-family: 'Ubuntu', sans-serif;
	text-decoration: underline;

}
  #logo {
    margin-bottom: 1.5625rem;
    font-size: 5vw;
    font-weight: 700;
    color: yellow;
    font-family: 'Dancing Script', cursive;
  }
  
  footer .container-fluid > div h3 {
    margin-bottom: 1.5625rem;
  }
  
  footer .container-fluid > div p {
    margin-bottom: 0.9375rem;
    font-size: 0.9375rem;
    font-weight: 400;
  }
  
  .social-links > a {
    font-size: 15px;
    color: #080808;
    display: inline-block;
    width: 38px;
    height: 38px;
    line-height: 38px;
    background: #0e0d0d;
    border-radius: 100%;
    border: 1px solid rgba(255, 255, 255, 0.3);
    text-align: center;
    transition: all 0.4s ease-in-out;
    transform: scale(1);
    margin-left: 0.3125rem;
  }
  
   .social-links {
    margin-top: 1.25rem;
  }
  
   .social-links a:hover {
    color: red;
    background-color: #7d6ee7;
    border: 1px solid #09090a;
  }
    #samd{
    	 background-color:#4f4d6b;   
	width: 100%;
	height:130vh;	
	padding-top: 20px; 
    }
    .column1{
	float: left;
	width: 35%;
	padding: 5px;
	margin:5PX;
	border: 1px solid white;
}
   .row1{
   	padding: 14px;
	color: black;

 }
 #sam{
 	font-size: 60px;
 	color: white;
 	text-align: center;
 	font-family: 'Dancing Script', cursive;
 }
#image{
	 width: 360px;
	 height: 30vh;
	 padding: 30px;

}
#samly{
	color: white;
	background-color: rgb(61, 36, 107);

}
#samly:hover {
    color: red;
    background-color: #7d6ee7;
    border: 1px solid #09090a;
    cursor:progress;

  }
  #add{
  	font-family: 'Dancing Script', cursive;


  }
  .oreo{
  	 	 background-color:#43618f;   
	width: 100%;
	height:50vh;	
	padding-top: 20px; 
    }
    #oreo{
    	color: white;
    	text-align: center;
    	text-transform: uppercase;
    	font-size: 50px;
    }
    .ore{
    	color: white;
    	font-size: 30px;
    }
    .oni{
    	color: white;
    	font-size: 30px;
    }

  
  
  
  

  
  
